<header>
  <nav id="reader_nav">

    <ul>
      <% if !logged_in? %>
        <li><%= link_to "Library", root_path %> </li>
        <li id="signup"> Sign Up </li>
        <li id="login"> Log In </li>
      <% end %>

      <% if logged_in? %>
        <li><%= link_to "Library", root_path %> </li>
        <li> Logged in as <%=current_user.name%> </li>
        <li><%= link_to "Sign Out", sign_out_path(current_user), :class => "nav_right"  %></li>

       <% if session[:user] && session[:book] %>
         <% if current_page?(user_book_path(current_user, session[:book]))%>
            <li><%= book_title %></li>
            <li id="add_comment"> Comment </li>
         <%end%>
       <%end%>

      <% end %>
    </ul>
  </nav>
</header>
