<!DOCTYPE html>
<html>
<head>
  <title>ReadyReader</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<body>
<%= render 'layouts/nav_bar' %>
<%= yield %>

</body>
</html>
