<div class="modal fade" id="loginModal" tabindex="1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" id='login-form'>
        <div class='login-form'>
          <%= form_for :user, url: {action: "login"} do |f| %>
          <br>
          <%= f.label :email %>
          <br>
          <%= f.text_field :email %>
          <br>
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
        <div class="modal-footer">

        <center>
          <%= f.submit "Log In" %>
          <% end %>
          </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
