
<div class="log_in_form">
<%= form_for :user, url: {action: "login"} do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log In", class: 'button_link' %>
<% end %>

</div>
