<div id="library_container">
  <div class="profile_title"> Your Books </div>
  <p class="book_count_user"><%= @books.count %></p>
  <div class="library_wrapper">

  <% @books.each_with_index do |book, index| %>
    <ul>
      <li id="user_library"><%= link_to book.title, user_book_path(@this_user, book)%></li>
    </ul>

      <div class="progress_bar_wrapper">
      <div class="progress_bar_index<%=index%>"></div>
      <div><span class="bar_percentage" id="bar<%=index%>"><%= ((save_point(book.id).to_f /  book.sentences.size).to_f * 100).to_i %></span><span>%</span></div>
      </div>
      <% end %>
  </div>
</div>

<div id="upload">
<%unless mobile_device? %>
  <h3 id="upload_title"> Upload a Book </h3>
  <div id="upload_box"><%= form_tag( user_books_upload_path(@this_user), :html => { :'data-ajax' => false }, method: "post", multipart: true) do %>
    <%= file_field_tag :book %>
    <%= text_field_tag :title %>
    <%= submit_tag('Upload') %>
  </div>
  <% end %>
  <%end %>
</div>




