<div id="library_container">

  <%= flash[:notice_upload] %>
  <div id="error_area"></div>

  <div class="profile_title"> <%=current_user.name%>'s Books </div>
  <p class="book_count_user"><%= @books.count %></p>
  <div class="library_wrapper">

  <% @books.each_with_index do |book, index| %>
    <% if book.sentences.any? %>
      <ul>
      <li id="user_library"><%= link_to book.title, user_book_path(@this_user, book)%></li>
      </ul>
      <div class="progress_bar_wrapper">
      <div class="progress_bar_index<%=index%>"></div>
      <div><span class="bar_percentage" id="bar<%=index%>"><%= ((save_point(book.id).to_f /  book.sentences.size).to_f * 100).to_i %></span><span>%</span></div>
      </div>
      <% end %>
    <% end %>

</div>
