<h3> Your Books </h3>

<p class="book_count_user"><%= @books.count %></p>
<div class="library_wrapper">
<% @books.each_with_index do |book, index| %>
  <%= save_point = UserBook.where(book_id: book.id, user_id: current_user.id).first.try(:farthest_point) %>
  <%= book.sentences.size %>
  <p id="user_library"><%= link_to book.title, user_book_path(@this_user, book), style: "color:black"%></p>
   <div class="progress_bar_index<%=index%>"></div>
   <% if book.sentences.any? %>
   <div id="bar<%=index%>"><%= (save_point.to_f / book.sentences.size.to_f * 100).round %></div>
   <% end %>
  <br>
<% end %>
</div>

<%unless mobile_device? %>
  <h3> Upload a Book </h3>
  <%= form_tag( user_books_upload_path(@this_user), :html => { :'data-ajax' => false }, method: "post", multipart: true) do %>
    <%= file_field_tag :book %>
    <%= text_field_tag :title %>
    <%= submit_tag('Upload') %>
  <% end %>
  <%end %>





