
<div class="pages" style="visibility:hidden"> <%= @pages %> </div>
<div class="book_wrapper">


  <div class="sentence_wrapper">
  <div class="current_sentence"></div>
  <% @sentences.each_with_index do |sentence, index| %>
  <span class="non_current_sentence"><p class ="sentence<%=index%>"><%= sentence %></span>
  <% end %>
  </div>
</div>




<center>
  <div class="forward"> <h2 class="left"> FORWARD </h2> </div>
  <div class="backward"><h2 class="right"> BACKWARD </h2> </div>
</center>


<div class="bottom_bar">
<div id="progressbar"></div>
</div>

<br>
<br>

<center>
  <p id="comment_view_click"> Comments on <%= book_title %> </p>
    <center id='comment-view-modal' style="display: none z-index: 10"><%= render 'comments/comments_show' %></center>
</center>
