
<div class="pages" style="visibility:hidden"> <%= @pages %> </div>
<div class="book_number" style="visibility:hidden"> <%= @book.id %> </div>
<div class="user_name" style="visibility:hidden"> <%= current_user.name %> </div>
<div class="book_wrapper">
  <button class="bookmark">BOOKMARK</button>


  <div class="sentence_wrapper">
    <div class="error_reading"></div>
    <div class="current_sentence"></div>
    <% @sentences.each_with_index do |sentence, index| %>
    <span class="non_current_sentence"><p class ="sentence<%=index%>"><%= sentence %></span>
    <% end %>
  </div>
</div>


  <div class="forward"> <h2 class="left"> <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png"> </h2> </div>
  <div class="backward"><h2 class="right"> <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png"> </h2> </div>

<div class="bottom_bar" style="margin-top:20%">

  <div id="slider_bar"></div>
  <div class="custom_ticks"></div>
  <div class="percentage"> </div>
  <div class="text_progress"> </div>
</div>


  <!-- Would very much like to rename the h2 class names and fonts (defaults to h2 size font) below for semantic purposes. Will hold off due to JS ramifications -->


<div id="last_point"></div>
<br>
<br>

<center>
  <p id="comment_view_click"> Comments on <%= book_title %> </p>
    <center id='comment-view-modal' style="display: none z-index: 10"><%= render 'comments/comments_show' %></center>
</center>
