


<div class="pages" style="visibility:hidden"> <%= @pages %> </div>
<div class="book_number" style="visibility:hidden"> <%= @book.id %> </div>
<div class="user_name" style="visibility:hidden"> <%= current_user.name %> </div>
<div class="book_wrapper">


  <div class="sentence_wrapper">
    <div id="center_sentence">
    <div class="error_reading"></div>
    <div class="current_sentence"></div>
    </div>
    <% @sentences.each_with_index do |sentence, index| %>
    <span class="non_current_sentence"><p class ="sentence<%=index%>"><%= sentence %></span>
    <% end %>
  </div>
</div>


  <div class="forward"> <div class="left"> <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png"> </div> </div>
  <div class="backward"><div class="right"> <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png"> </div> </div>

<div class="bottom_bar">
  <div id="slider_bar"></div>
  <div class="percentage"> </div>
  <div class="text_progress"> </div>
</div>



<div id="last_point"></div>
<br>
<br>

<center>
  <p id="comment_view_click"> Comments on <%= book_title %> </p>
    <center id='comment-view-modal' style="display: none z-index: 10"><%= render 'comments/comments_show' %></center>
</center>
